#
# Code::Blocks
#

-*.depend
-*.layout
-.objs/

#
# Sauerbraten
#

*.a
*.dll
*.DLL
*.gch
*.html
*.o
*.res
*.svn
bin64/
bin/*.dll
bin/*.txt
bin_unix/*.txt
data/*
docs/*
packages/*
rpg*
sauerbraten*
server*
src/
*update*
*linux*
*windows*
*sauer_client*
*sauer_server*

